= form_for user do |f|
  = f.text_field :first_name, placeholder: "First Name", class: 'input-fields'
  = f.text_field :last_name, placeholder: "Last Name", class: 'input-fields'
  = f.text_field :email, placeholder: "Email", class: 'input-fields'
  = f.text_field :address, placeholder: "Address", class: 'input-fields'
  = f.text_field :city, placeholder: "City", class: 'input-fields'
  = f.text_field :state, placeholder: "State", class: 'input-fields'
  = f.text_field :password, placeholder: "Password", class: 'input-fields'
  = f.submit