#transaction-index
  .row
    .col-sm-12
      %h1
        = number_to_currency @selected_account.total
        %span.subheader= "#{@selected_account.name} Balance".upcase
  .row
    .col-sm-12.d-flex.justify-content-between
      .search-container
        = form_tag url: search_account_transactions_path(account_id: @selected_account.id) do
          = search_field_tag :term, "", {placeholder: "Search Transactions"}
          = link_to('Advanced Search', "", class: "body-link")
          
      = select_tag "filter", options_from_collection_for_select(TransactionCategory.order(:category), :id, :category), prompt: "Filter"

  .row
    .col-sm-12
      %table#transactions-all-table{style: "width: 100%"}
        %thead 
          %tr 
            %th Date
            %th Description
            %th Amount
        %tbody
          - @selected_account.transactions.each do |x|
            %tr 
              %td= x.date_applied.strftime("%b %d") 
              %td= x.description 
              %td= number_to_currency(x.amount, {}) 

- content_for :javascript_onload do 
  :plain 
    new Transaction()

